<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown example</title>
    <!-- Default includes -->
    <link
      href="../../framework/images/favicon.png"
      rel="icon"
      type="image/png"
    />
    <script src="../../framework/js/utils/prism.js"></script>
    <link href="../../framework/css/prism.css" rel="stylesheet" />
    <link href="../../framework/css/tailwind.css" rel="stylesheet" />
    <script src="../../framework/js/utils/dw.js" type="module"></script>
    <script src="../../framework/js/payloadhosting.js"></script>
    <script src="../../framework/js/utils/viz.js" type="module"></script>
    <script src="../../framework/js/nlw.js"></script>
  </head>

  <body>
    <div class="dw-header">
      <span>Dropdown examples</span>
    </div>

    <span class="dw-alert dw-alert--info w-full">
      This template shows the possibilities for using the select element
      (dropdown box)
    </span>

    <div class="field-group">
      <p>
        The options of this select are defined in the html file, so they are
        static.
      </p>
      <select data-co="" class="dw-dropdown">
        <option value="0">Male</option>
        <option value="1">Female</option>
        <option value="2">Diverse</option>
      </select>
      <div class="dw-code">
        <pre
          class="language-markup"
        ><code><!-- <select data-co="" class="dw-dropdown">
<option value="0">Male</option>
<option value="1">Female</option>
<option value="2">Diverse</option>
</select> --></code>
        </pre>
      </div>
    </div>

    <div class="field-group">
      <p>
        The options of this select are read from the nlw tool. To use this
        functions some additional attributes are mandatory, others are
        optional.<br />
        The attribute <b>data-nlw-table</b> <i>(mandatory)</i> defines the table
        that is used (in this case the table "languages.db"). <br />
        The attribute <b>data-nlw-keys</b> <i>(mandatory)</i> defines the
        visible text of the options. In This case we use "column:A". The text of
        the options in this dropdown are the values of column A.<br />
        The attribute <b>data-nlw-values</b> <i>(optional)</i> defines the value
        of the options. In This case we use als "column:A". So text and value
        are identical.<br />
        The attribute <b>data-nlw-start-index</b> <i>(optional)</i> defines the
        first row that is used for the text and the value. We can define this
        attribute because most nlw tables will have a headline row.<br />
        The attribute <b>data-nlw-prefix</b> <i>(optional)</i> fetches the value
        defined for the attribute and adds it to the beginning of each option
        value. Use case would be a flag path that will be added before every
        flag name.
      </p>
      <select
        data-co=""
        class="dw-dropdown"
        data-nlw-table="languages.db"
        data-nlw-keys="column:A"
        data-nlw-values="column:A"
        data-nlw-start-index="1"
        data-nlw-prefix="cell:D2"
      >
        <option>- Please select -</option>
      </select>
      <div class="dw-code">
        <pre class="language-markup"><code><!-- <select
  data-co=""
  class="dw-dropdown"
  data-nlw-table="languages.db"
  data-nlw-keys="column:A"
  data-nlw-values="column:A"
  data-nlw-start-index="1"
  data-nlw-prefix="cell:D2"
  >
  <option>- Please select -</option>
</select> --></code>
        </pre>
      </div>
    </div>

    <div class="field-group">
      <label class="dw-label__input">Dropdown mit festen Inhalten</label>
      <select data-co="" class="dw-dropdown">
        <option value="0">Männlich</option>
        <option value="1">Weiblich</option>
        <option value="2">Divers</option>
      </select>

      <div class="dw-code">
        <pre
          class="language-markup"
        ><code><!-- <select data-co="" class="dw-dropdown">
  <option value="0">Männlich</option>
  <option value="1">Weiblich</option>
  <option value="2">Divers</option>
</select> --></code>
        </pre>
      </div>
    </div>

    <div class="field-group">
      <label class="dw-label__input"
        >Dropdown mit dynamischen Inhalten - data-nlw-table="languages.db"
        data-nlw-keys="column:A" data-nlw-values="column:A"
        data-nlw-start-index="1"</label
      >
      <select
        data-co=""
        class="dw-dropdown"
        data-nlw-table="languages.db"
        data-nlw-keys="column:A"
        data-nlw-values="column:A"
        data-nlw-start-index="1"
        data-nlw-prefix="cell:D2"
      >
        <option>- Please select -</option>
      </select>
      <div class="dw-code">
        <pre class="language-markup"><code><!-- <select
  data-co=""
  class="dw-dropdown"
  data-nlw-table="languages.db"
  data-nlw-keys="column:A"
  data-nlw-values="column:A"
  data-nlw-start-index="1"
  data-nlw-prefix="cell:D2"
>
  <option>- Please select -</option>
</select> --></code>
        </pre>
      </div>
    </div>

    <div class="field-group">
      <label class="dw-label__input"
        >Dropdown mit dynamischen Inhalten - data-nlw-table="languages.db"
        data-nlw-keys="column:A" data-nlw-values="column:A"
        data-nlw-start-index="1"</label
      >
      <select
        data-co=""
        class="dw-dropdown"
        data-nlw-table="languages.db"
        data-nlw-keys="column:A"
        data-nlw-values="column:A"
        data-nlw-start-index="1"
      >
        <option>- Please select -</option>
      </select>
      <div class="dw-code">
        <pre class="language-markup"><code><!-- <select
  data-co=""
  class="dw-dropdown"
  data-nlw-table="languages.db"
  data-nlw-keys="column:A"
  data-nlw-values="column:A"
  data-nlw-start-index="1"
>
  <option>- Please select -</option>
</select> --></code>
        </pre>
      </div>
    </div>

    <div class="field-group">
      <label class="dw-label__input"
        >Dropdown mit dynamischen Inhalten - data-nlw-table="languages.db"
        data-nlw-keys="column:A" data-nlw-values="column:B"</label
      >
      <select
        data-co=""
        class="dw-dropdown"
        data-nlw-table="languages.db"
        data-nlw-keys="column:A"
        data-nlw-values="column:B"
      >
        <option>- Please select -</option>
      </select>
      <div class="dw-code">
        <pre class="language-markup"><code><!-- <select
  data-co=""
  class="dw-dropdown"
  data-nlw-table="languages.db"
  data-nlw-keys="column:A"
  data-nlw-values="column:B"
>
  <option>- Please select -</option>
</select> --></code>
        </pre>
      </div>
    </div>

    <div class="field-group">
      <label class="dw-label__input"
        >Dropdown mit dynamischen Inhalten - data-nlw-table="languages.db"
        data-nlw-keys="column:A"</label
      >
      <select
        data-co=""
        class="dw-dropdown"
        data-nlw-table="languages.db"
        data-nlw-keys="column:A"
      >
        <option>- Please select -</option>
      </select>

      <div class="dw-code">
        <pre class="language-markup"><code><!-- <select
  data-co=""
  class="dw-dropdown"
  data-nlw-table="languages.db"
  data-nlw-keys="column:A"
>
  <option>- Please select -</option>
</select> --></code>
        </pre>
      </div>
    </div>
  </body>
</html>
