<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Min Height example</title>
    <!-- Default includes -->
    <link
      href="../../framework/images/favicon.png"
      rel="icon"
      type="image/png"
    />
    <script src="../../framework/js/utils/prism.js"></script>
    <link href="../../framework/css/prism.css" rel="stylesheet" />
    <link href="../../framework/css/tailwind.css" rel="stylesheet" />
    <script src="../../framework/js/utils/dw.js" type="module"></script>
    <script src="../../framework/js/payloadhosting.js"></script>
    <script src="../../framework/js/utils/viz.js" type="module"></script>
    <script src="../../framework/js/nlw.js"></script>
  </head>

  <body>
    <div class="dw-header dw-header--branded">
      <img src="./framework/images/Header_NEWS.png" />
      <span>Lorem ipsum dolor amet</span>
    </div>

    <!-- USE THIS WRAPPER between dw-header and dw-footer to acchieve min-height -->
    <div class="dw-content">
        <p><small>Ganz wenig Inhalt, Mindest-Höhe automatisch 150px</small></p>
    </div>
    <!-- END: USE THIS WRAPPER between dw-header and dw-footer to acchieve min-height -->

    <div class="dw-footer"><span>Contact: echtzeitgrafik@dw.com</span></div>

    <div class="dw-code">
        <pre class="language-markup"><code><!--
    <div class="dw-header dw-header--branded">
      <img src="./framework/images/Header_NEWS.png" />
      <span>Lorem ipsum dolor amet</span>
    </div>

    <div class="dw-content">
        <p><small>Ganz wenig Inhalt, Mindest-Höhe automatisch 150px</small></p>
    </div>

    <div class="dw-footer"><span>Contact: echtzeitgrafik@dw.com</span></div>
           --></code>
          </pre>
      </div>
  </body>
</html>
