<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Template</title>
    <!-- Default includes -->

    <link
      href="../../framework/images/favicon.png"
      rel="icon"
      type="image/png"
    />
    <script src="../../framework/js/utils/prism.js"></script>
    <link href="../../framework/css/prism.css" rel="stylesheet" />
    <link href="../../framework/css/tailwind.css" rel="stylesheet" />
    <script src="../../framework/js/utils/dw.js" type="module"></script>
    <script src="../../framework/js/payloadhosting.js"></script>
    <script src="../../framework/js/utils/viz.js" type="module"></script>
    <script src="../../framework/js/nlw.js"></script>
  </head>

  <body>
    <div>
      <div class="dw-header">
        <span>Name der Sendung</span>
        <span>Beispieltemplate</span>
      </div>
    </div>
    <div class="flex flex-row flex-wrap bg-gray-01">
      <div class="form-input-chips-wrapper">
        <div>
          <div class="dw-label__section">Sprache</div>
          <div class="form-input-chips">
            <label>
              <input type="radio" name="language" />
              <span>Left to right</span>
            </label>

            <label>
              <input type="radio" name="language" />
              <span>Right to left</span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-input-chips-wrapper">
        <div>
          <div class="dw-label__section">Template Layout</div>
          <div class="form-input-chips">
            <label>
              <input type="radio" name="layout" />
              <span>Bild XL</span>
            </label>

            <label>
              <input type="radio" name="layout" />
              <span>Bild M</span>
            </label>

            <label>
              <input type="radio" name="layout" />
              <span>Kein Bild</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group__label">Feld Gruppe 1</div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>
      </div>
    </div>

    <div class="field-group">
      <div class="field-group__label">Feld Gruppe 2</div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>
      </div>
    </div>

    <div class="field-group bg-gray-01">
      <div class="field-group__label">Feld Gruppe 1</div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>
      </div>
    </div>

    <div class="field-group bg-gray-01">
      <div class="field-group__label">Feld Gruppe 2</div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>

        <div>
          <label class="dw-label__input">Label</label>
          <input type="text" class="form-input" />
        </div>
      </div>
    </div>

    <div class="dw-code">
      <pre class="language-markup"><code><!--
  <div class="flex flex-row flex-wrap bg-gray-01">
    <div class="form-input-chips-wrapper">
      <div>
        <div class="dw-label__section">Sprache</div>
        <div class="form-input-chips">
          <label>
            <input type="radio" name="language" />
            <span>Left to right</span>
          </label>

          <label>
            <input type="radio" name="language" />
            <span>Right to left</span>
          </label>
        </div>
      </div>
    </div>

    <div class="form-input-chips-wrapper">
      <div>
        <div class="dw-label__section">Template Layout</div>
        <div class="form-input-chips">
          <label>
            <input type="radio" name="layout" />
            <span>Bild XL</span>
          </label>

          <label>
            <input type="radio" name="layout" />
            <span>Bild M</span>
          </label>

          <label>
            <input type="radio" name="layout" />
            <span>Kein Bild</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group__label">Feld Gruppe 1</div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>
    </div>
  </div>

  <div class="field-group">
    <div class="field-group__label">Feld Gruppe 2</div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>
    </div>
  </div>

  <div class="field-group bg-gray-01">
    <div class="field-group__label">Feld Gruppe 1</div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>
    </div>
  </div>

  <div class="field-group bg-gray-01">
    <div class="field-group__label">Feld Gruppe 2</div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>

      <div>
        <label class="dw-label__input">Label</label>
        <input type="text" class="form-input" />
      </div>
    </div>
  </div> --></code>
      </pre>
    </div>
  </body>
</html>
