<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image vizone</title>
    <!-- Default includes -->
    <link
      href="../../framework/images/favicon.png"
      rel="icon"
      type="image/png"
    />
    <link href="../../framework/css/tailwind.css" rel="stylesheet" />
    <script src="../../framework/js/utils/dw.js" type="module"></script>
    <script src="../../framework/js/payloadhosting.js"></script>
    <script src="../../framework/js/utils/viz.js" type="module"></script>
    <script src="../../framework/js/nlw.js"></script>

    <script>
      window.generateSearchTerms = () => {
        const imageElement = document.querySelector(".dw-imgSearch");
        const datepickerValue =
          imageElement.querySelector('input[type="date"]').value;
        const dateSearchTerm = datepickerValue
          ? `dw.usagedate: ${datepickerValue} AND `
          : "";
        const staticSearchTerm = "dw.show#dw.showKey: NEWS";
        return [dateSearchTerm, staticSearchTerm].join("");
      };
    </script>
  </head>

  <body>
    <div class="dw-header dw-header--alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26">
        <path
          d="M12 5.177l8.631 15.823h-17.262l8.631-15.823zm0-4.177l-12 22h24l-12-22zm-1 9h2v6h-2v-6zm1 9.75c-.689 0-1.25-.56-1.25-1.25s.561-1.25 1.25-1.25 1.25.56 1.25 1.25-.561 1.25-1.25 1.25z"
          fill="#002D5A"
          fill-rule="evenodd"
        />
      </svg>
      <span>Please do not use this template.</span>
    </div>

    <div class="dw-header">
      <span class="text-gray-15">Image VizOne</span>
    </div>

    <div class="field-group bg-gray-01">
      <label class="field-group__label">Image Selection</label>
      <div>
        <div class="field-group">
          <div class="field-group__label">Image</div>

          <div
            class="dw-imgSearch flex flex-wrap flex-row items-start"
            type="image"
            data-co="image"
            data-searchterms="generateSearchTerms"
          >
            <div class="dw-imgRowItem w-full">
              <div>
                <div>
                  <label class="dw-label__input">Author filter</label>
                  <input type="text" class="form-input" />
                </div>
              </div>

              <div>
                <div>
                  <label class="dw-label__input">Date filter</label>
                  <input
                    data-co=""
                    type="date"
                    class="form-input-date max-w-xs"
                    max="2100-12-31"
                  />
                </div>
              </div>

              <div class="dw-btn-wrap">
                <button class="dw-btn dw-btnIcon select">
                  <span class="dw-btnSearch" title="Search">Search</span>
                </button>
              </div>
              <div class="dw-btn-wrap">
                <button class="dw-btn dw-btnIcon remove">
                  <span class="dw-btnDelete" title="Delete Image"
                    >Delete image</span
                  >
                </button>
              </div>
              <div class="dw-btn-wrap">
                <div class="dw-imgThumb">
                  <img
                    src="../../framework/images/DIANA_placeholder_standard_square.png"
                    data-placeholder="../../framework/images/DIANA_placeholder_standard_square.png"
                    alt="Thumb"
                    width="35"
                    height="35"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dw-footer"><span>Contact: echtzeitgrafik@dw.com</span></div>
  </body>
</html>
